@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 4px;
      height: 72px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #E9ECEF;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #CBCFD2;
      border-radius: 100vh;
    }
  }


